	<ion-view view-title="e-Catpers" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-catpers" class="page-webview page-catpers">
		
                <div class="card" ng-init="openWebView('https://litpers.bidpropamkaltim.com/')">
                    <div class="padding">
                    <h2 class="text-center">Welcome</h2>
                    <p class="text-center">litpers.bidpropamkaltim.com</p>
                    <button class="button button-block button-calm" ng-click="openWebView('https://litpers.bidpropamkaltim.com/')">ENTER</button>
                    </div>
                </div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
