	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>E-Catpers v1177</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/buyungsandy')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/buyungsandy')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:satria.maya@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: satria.maya@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2017 <a ng-click="openURL('https://www.justsandy.id')" >JustSandy</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
